<div class="mb-3 d-flex flex-column h-100">
    <label class="form-label flex-grow-1 d-flex align-items-center" for="inisial">Sebutkan Nama / Inisial</label>
    <input class="form-control" type="text" name="inisial" id="inisial" placeholder="Inisial..." required>
</div>
<div class="mb-3 d-flex flex-column h-100">
    <label class="form-label flex-grow-1 d-flex align-items-center" for="umur">Sebutkan Umur</label>
    <input class="form-control" type="number" name="umur" id="umur" placeholder="Umur..." required>
</div>
<div class="mb-3 d-flex flex-column h-100">
    <label class="form-label flex-grow-1 d-flex align-items-center" for="alamat">Sebutkan Alamat</label>
    <textarea class="form-control" name="alamat" id="alamat" placeholder="Alamat..." required></textarea>
</div>
<div class="mb-3 d-flex flex-column h-100">
    <label class="form-label flex-grow-1 d-flex align-items-center" for="pekerjaan">Sebutkan Pekerjaan</label>
    <input class="form-control" type="text" name="pekerjaan" id="pekerjaan" placeholder="pekerjaan..." required>
</div>
<div class="mb-3 d-flex flex-column h-100">
    <label for="pendidikan" class="form-label flex-grow-1 d-flex align-items-center">Sebutkan Pendidikan</label>
    <select class="form-control" required id="pendidikan" name="pendidikan" required>
        <option value="">--Pilih Jawaban--</option>
        <option value="Tidak Sekolah">Tidak Sekolah</option>
        <option value="SD">SD</option>
        <option value="SMP">SMP</option>
        <option value="SMA">SMA</option>
        <option value="Diploma">Diploma</option>
        <option value="Sarjana">Sarjana</option>
        <option value="Pascasarjana">Pascasarjana</option>
    </select>
</div>